<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/foundation.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/vendor/modernizr.js"></script>
    <title>Grocery List 2</title>
  </head>
  <body>
    <h1><%= error_message %></h1>
    <h2>Grocery List 2</h2>
      <% grocery_list.each do |item| %>

      <table style="width:100%">
  <tr>
    <td><%= item["grocery"] %></td>
  </tr>
</table>

    <% end %>

    <form action="/groceries" method="post" align="center">
      <label for="item">Add New Item:</label>
      <input type="text" id="item" name="item" >

      <input type="submit">
    </form>

  </body>
</html>
